<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .ttt {
        color: #267dffba;
        font-weight: bold;
    }
    .card{
        margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    /* .card #img_team:hover {
    box-shadow: 0 0 16px var(--main-color);
    transition-duration: 400ms;
} */
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><span><i class="bi bi-journal-code"></i>COU</span>RSES
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'showAllCourses'%}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ser">Sections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services_cou">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">All course</a></li>
                            <li><a class="dropdown-item" href="#">profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <div style="padding-top: 5px;"><button class="btn btn-outline-success"
                                type="submit">Search</button></div>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <br><br>

    <!-- <div class="container">
        <h2>Courses</h2><br><br>
        <div class="row">
            {% for course in courses %}
            <div class="col-md-4 ">
                <div class="card mb-4 border-0">
                    <div id="img_cou"><img src="{{ course.course_image.url }}" class="card-img-top"
                            alt="{{ course.course_name }}"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ course.course_name }}</h5>
                        <p class="card-text">{{ course.course_description }}</p>
                        <div id="price">
                            <div class="btn-group">
                                <a href="{% url 'course_detail' course.id %}"
                                    class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <div id="doller">
                                <p class="card-text">{{ course.price }}
                                    <i class="bi bi-currency-dollar"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_course' %}" class="btn btn-primary mb-3">Add Course</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary mb-3">Login</a>
        {% endif %}
    </div> -->
    <section id="team" class="services_team section-padding bg">
        <div class="container">
            <p class="ttt fs-1 fw-bold text-center">Courses</p>
            <p class="fs-1 fw-bold text-center"><img src="../static/img/book2.png" alt="" width="50px" height="50px">
            </p>
            <div class="row row-cols-1 row-cols-md-3 g-4 b b">
                {% for course in courses %}
                <div class="col ">
                    <div class="card h-100">
                        <div  class="card_mmm"> <img height="250px" id="img_team" src="{{ course.course_image.url }}"
                                class="card-img " alt="{{ course.course_name }}">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title fs-3 fw-bold">{{ course.course_name }}</h5>
                            <p class="card-text">{{ course.course_description }}</p>
                            <div id="iii">
                                <div id="doller"><i class="bi bi-journal-code"></i></div>
                                <div>
                                    <p class="fs-3 fw-bold text-center text-primary"><img id="img_author"
                                            src="../static/img/Profile-PNG-File.png" alt="" width="70px" height="70px"></p>
                                </div>
                                <div id="doller"><i class="bi bi-currency-dollar">{{ course.price }}</i></div>
                            </div>
                            <p class="fs-4  text-center">{{course.publisher}}</p>
                            <a href="{% url 'course_detail' course.id %}"><button type="button">View Details</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br><br>
            <div style="text-align: center;">
            {% if user.is_authenticated %}
            <a href="{% url 'add_course' %}" class="btn btn-primary mb-3" >Add Course</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary mb-3">Login</a>
            {% endif %}
        </div>
        </div>

    </section>

    {% endblock %}
    {% include 'Pages/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
