<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .card{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
    }
    h2 {
        text-align: center;
        color: #267dffba;
        margin-bottom: 20px;
    }
    #but {
        text-align: center;
    }
    .card .card-img:hover {
    box-shadow: 0 0 16px var(--main-color);
    transition-duration: 400ms;
}
.card-text {
    font-size: 20px;
}
h1 {
    text-align: center;
    color: #267dffba;
    margin-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.img_container {
    width: 50%;
    height: auto;
    
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><span><i class="bi bi-journal-code"></i>COU</span>RSES
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'showAllCourses'%}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ser">Sections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services_cou">Services</a>
                    </li>
                    <li id="login" class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><button type="button">Logout</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <br><br>
        <div class="container mt-5">
            <h1 class="card-title text-center">{{ course.course_name }}</h1>
            <div class="card border">
            <div class = "img_container">
            <img src="{{ course.course_image.url }}" class="card-img" alt="{{ course.course_name }}"></div>
            <div class="card-body">
                <p class="card-text"><strong>Description:</strong> {{ course.course_description }}</p>
                <p class="card-text"><strong>Duration:</strong> {{ course.course_duration }} hours</p>
                <p class="card-text"><strong>Price:</strong> ${{ course.price }}</p>
                <p class="card-text"><strong>Category:</strong> {{ course.get_catogries_choicses_display }}</p>
                <p class="card-text"><strong>Created At:</strong> {{ course.created_at }}</p>
            </div>
            </div>
    </div>
    {% endblock %}
    {% include 'Pages/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
