<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .ttt {
        color: #267dffba;
        font-weight: bold;
    }
    .card{
        margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    /* .card #img_team:hover {
    box-shadow: 0 0 16px var(--main-color);
    transition-duration: 400ms;
} */
</style>
<body>
    {% include 'Pages/navbar.html' %}
    {% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.video_title }}</h5>
                        <p class="card-text">{{ video.video_description }}</p>
                        <video controls class="w-100">
                            <source src="{{ video.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% include 'Pages/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
