<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="icon" href="/static/img/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    #cou-home{
        border: 1px solid #000;
        border-radius: 10px;
    }
    #img_team{
        border-radius: 10px;
    }
    #cou-home:hover{
        box-shadow: 0 0 20px var(--main-color);
    }
    #carouselExampleCaptions a{
        background-color:#267dff;;
        color: #fff;
    }
    .bold_f
    {
        font-weight: bold;
        font-size: 35px;
    }
</style>
<body>
    {% include 'Pages/navbar.html' %}
    {% block content %}
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active text-start">
                <img src="../static/img/hero-bg2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center"
                    style="top: 50%; transform: translateY(-50%);">
                    <h5> ZED</h5>
                    <p class = "bold_f">ZED is a course platform that allows users to easily create and publish their own courses, as well as join available courses on the platform..</p>
                    <p><a href="{% url 'showAllCourses' %}" class="btn  mt-3 btn-lg">more details</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/hero-bg4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center"
                    style="top: 50%; transform: translateY(-50%);">
                    <h5> ZED</h5>
                    <p class = "bold_f">ZED is a course platform that allows users to easily create and publish their own courses, as well as join available courses on the platform..</p>

                    <p><a href="{% url 'showAllCourses' %}" class="btn  mt-3 btn-lg">more details</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/hero-bg3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center"
                    style="top: 50%; transform: translateY(-50%);">
                    <h5> ZED</h5>
                    <p class = "bold_f">ZED is a course platform that allows users to easily create and publish their own courses, as well as join available courses on the platform..</p>

                    <p><a href="{% url 'showAllCourses' %}" class="btn  mt-3 btn-lg">more details</a></p>

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div><br><br>
    <!-- **************************** -->
    <section id="sec">
        <div class="container">
            <div class="card mb-3 border-0" style="width: 100%; ">
                <div class="row g-0">
                    <div class="col-md-6 ">
                        <div class="card-body " style="margin: 15px;">
                            <h2 class="hed">About ZED</h2>
                            <h5 class="card-title fw-bold fs-1">We will give you future</h5>
                            <p class="card-text fs-4">
                                ZED is your ultimate platform for creating, sharing, and joining courses. Whether you're a learner looking to expand your knowledge or a creator ready to share your expertise, ZED offers seamless tools to empower your journey. Start exploring today and unlock endless possibilities for growth.
                            </p>
                        </div>
                    </div>
                    <div id="img_about" class="col-md-6 border-0 ">
                        <img src="../static/img/hero-img.png" class="img-fluid rounded-start" alt="..." width="100%"
                            height="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ************************************************************** -->
    <section id="ser" class="services section-padding bg">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col ">
                    <div class="card h-100 border-0" id="iconnn">
                        <div class="d-flex"> <img src="../static/img/books.png">
                            <a href="">
                                <h5 class="card-title">Study Coaching</h5>
                            </a></div>
                        <div class="card-body">
                            <p class="card-text">Study Coaching at ZED provides personalized guidance to help you achieve your learning goals. Whether you're mastering a new skill or exploring a passion, our platform connects you with courses and resources tailored to your journey. Take the first step towards success with ZED.</p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card h-100 border-0" id="iconnn">
                        <div class="d-flex"><img src="../static/img/task.png" alt="">
                            <a href="">
                                <h5 class="card-title">Learning Courses</h5>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Discover courses tailored to help you learn and grow, no matter your skill level.</p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card h-100 border-0" id="iconnn">
                        <div class="d-flex"><img src="../static/img/book.png" alt="">
                            <a href="">
                                <h5 class="card-title">Add Courses</h5>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Easily create and share your own courses with the world, empowering others to learn and grow</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ************************************************* -->
    <section id="sec">
        <div class="container">
            <div class="card mb-3 border-0" style="width: 100%; ">
                <div class="row g-0">
                    <div id="img_about" class="col-md-6 border-0 ">
                        <img src="../static/img/features.png" class="img-fluid rounded-start" alt="..." width="100%"
                            height="100%">
                    </div>
                    <div class="col-md-6 ">
                        <div class="card-body " style="margin: 15px;">
                            <h2 class="hed">Our Advaced Features</h2>
                            <p class="card-text fs-4">Experience advanced features that make learning and teaching seamless: manage courses, add videos, track progress, and customize content effortlessly</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- **************************************************** -->
    <section id="team" class="services_team section-padding bg">
        <div class="container">
            
            <p class="fs-1 fw-bold text-center">Our Education Courses</p>
            <p class="fs-1 fw-bold text-center"><img src="../static/img/book2.png" alt="" width="50px" height="50px">
            </p>
            <p class="fs-5 text-center">Explore Some of Our Featured Courses
                Check out these top courses from our platform to kickstart your learning journey</p><br>
            <div class="row row-cols-1 row-cols-md-3 g-4 b b">
                {% for apply , profile in courses %}
                <div class="col ">
                    <div id="cou-home" class="card h-100 border-0">
                        <div class="card_mmm"> <img id="img_team" width="415px" height="235px" src="{{ apply.course_image.url }}" class="card-img "
                                alt="{{ apply.course_name }}">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title fs-3 fw-bold">{{ apply.course_name }}</h5>
                            <div id="iii">
                                <div id="doller"><i class="bi bi-journal-code"></i></div>
                                <div>
                                    <p class="fs-3 fw-bold text-center text-primary"><img id="img_author"
                                            src="{{profile.profile_picture.url}}" alt="" width="70px" height="70px">
                                    </p>
                                </div>
                                <div id="doller"><i class="bi bi-slack"></i></div>
                            </div>
                            <p class="fs-4  text-center">By {{apply.publisher}}</p>
                            <button type="button"><a href = "{% url 'showAllCourses' %}" style = text-decoration:none>SEE MORE</a></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container services" id="services_cou">
        <h2 class="hed">Our <span>Services</span></h2>
        <div class="services-contant row justify-content-around">
            <div class="col-auto">
                <div class="card " style="width: 18rem;">
                    <div class="imge">
                        <img src="../static/img/values-1.png" class="card-img-top img-fluid" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Master the art of building dynamic websites with hands-on experience in HTML, CSS, JavaScript, and more. Perfect for aspiring web developers.</p>
                        <a class="btn" href="{% url 'showAllCourses' %}">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card " style="width: 18rem;">
                    <div class="imge">
                        <img src="../static/img/values-2.png" class="card-img-top img-fluid" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Cyber Security </h5>
                        <p class="card-text">Learn to protect networks, systems, and data from cyber threats. Gain skills in ethical hacking, threat analysis, and risk management to safeguard the digital world..</p>
                        <a class="btn" href="{% url 'showAllCourses' %}">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card " style="width: 18rem;">
                    <div class="imge">
                        <img src="../static/img/values-3.png" class="card-img-top img-fluid" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Networking</h5>

                        <p class="card-text">Learn the basics of computer networks, from LAN setup to advanced routing and switching, and manage business network infrastructures.</p>                        <a class="btn" href="{% url 'showAllCourses' %}">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ************************************** -->

    {% endblock content %}
    {% include 'Pages/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
